.creator-box {
  max-width: 700px;
  margin: auto;
  text-align: center;
  background: #1e293b;
  padding: 40px;
  border-radius: 20px;
}

.creator-box h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #38bdf8;
}

.creator-box p {
  color: #cbd5e1;
}